src/gamelogic/__pycache__/
src/CDIO_OPENCV-DNN/__pycache__/
src/CDIO_OPENCV-DNN/yolocards_28000.weights
src/gamelogic/SavingGames.py
src/CDIO_OPENCV-DNN/yolocards_90000.weights
src/Complete/yolocards_90000.weights
src/Complete_redo/yolocards_90000.weights
src/Complete_redo/__pycache__/
src/Complete_redo/run.sh
src/CDIO_OPENCV-DNN/run.sh
*.weights
*run.sh
